<nav class="navbar navbar-inverse navbar-expand-lg">
    <div class="navbar-header">
            <a class="navbar-brand" href="/">Mongo Recipes</a>
        </div>
    <div class="container-fluid">
        <ul class="navbar-nav mr-auto">
            <li class="active nav-item">
                <a class="nav-link" href="/">Home</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/saved">Saved Recipes  </a>
            </li>
            <li class="nav-item">
                <a class="btn btn-warning scrape_new nav-link">Scrape new Recipes!</a>
            </li>
        </ul>
    </div>
</nav>
<div class="jumbotron text-center FoodI background-image">
    <img alt="">
    <div class="overlay"></div>
    <div class="background-image"></div>
    <div class="caption">
        <h1>Mongo Recipes</h1>
        <p>BBC Edition</p>
    </div>
</div>
<div class="container-fluid recipe-container"></div>

<footer class="footer">
    <div class="container">
        <p>BBC Food Mongo Scraper</p>
    </div>
    <div class="panel1">
        <h4 class="construct">PANEL SECTION UNDER CONSTRUCTION</h4>
        <h4 class="construct2"> 👷</h4>
        <h3 class="construct3">But you can hover on elements... and get into other routes</h3>
    </div>
  </div>
</footer>

<!-- JQuery -->
  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
{{!-- Bootstrap --}}
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
{{!-- Js file --}}
<script src="../public/assets/javascript/index.js"></script>