<nav class="navbar navbar-inverse">
    <div class="container-fluid">
        <div class="navbar-header">
            <a class="navbar-brand" href="/">Saved Recipes</a>
        </div>
        <ul class="nav navbar-nav">
            <li><a href="/">Home</a></li>
            <li class="active"><a href="/saved">Saved Recipes</a></li>
        </ul>
    </div>
</nav>
<div class="jumbotron text-center background-image">
    <div class="overlay"></div>
    <div></div>
    <div class="caption">
        <h1>Saved Recipes</h1>
        <p>Your Saved Recipes</p>
    </div>
</div>
<div class="container-fluid recipe-container"></div>

<footer class="footer">
    <div class="container">
        <p>BBC Food Mongo Scraper</p>
    </div>
    <div class="panel1">
        <h4 class="construct">PANEL SECTION UNDER CONSTRUCTION</h4>
        <h4 class="construct2"> 👷</h4>
        <h3 class="construct3">But you can hover on elements... and get into other routes</h3>
    </div>
</footer>

<!-- JQuery -->
  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
{{!-- Bootstrap --}}
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
{{!-- Js file --}}
<script src="../public/assets/javascript/saved.js"></script>